// TODO: I really need to clean up this code quality, it is horrendous
$primary_color: black;
$background_color: white;

html {
  position: relative;
  background-color: $background_color;
}

body {
  position: relative;
  background-color: $background_color !important;
  color: $primary_color;

  width: 90%;
  left: 5%;
}

.aligned-middle {
  position: relative;
  margin: auto;
  margin-top: 2em;
  width: 80%;
}

.action-area {
  display: flex;
  justify-content:space-between;

  button {
    width: 80px;
  }

  input {
    width: calc(100% - 80px)
  }
}

.embed-video {
  position: relative;
  display: none;
  margin-top: 4em;
  width: 100%;
  height: 80%;
}

#embed-video-iframe {
  position: relative;
  width: 100%;
}
